<div id="document" class="abs-left-container">
</div>

<div class="abs-right-container">
  <ul class="nav nav-tabs">
    <li class="active"><a href="#" data-target="note-list" data-toggle="tab">Notes</a></li>
    <li><a href="#" data-target="note-search" data-toggle="tab">Note search</a></li>
    <li><a href="#" data-target="note-edit" data-toggle="tab">Note edit</a></li>
  </ul>
  <div id="note-list" class="scrollable-area">
    <button id="create-note">Luo viite</button>
    <ul></ul>
  </div>
  <div id="note-search" class="scrollable-area" style="display: none;">
    note search
  </div>
  <div id="note-edit" class="scrollable-area" style="display: none;">
    note edit
  </div>
</div>

