<div class="abs-left-container">
  <div id="document-title">
    <a href="#"></a>
  </div>
  <div class="scrollable-area">
    <div id="document"></div>
  </div>
</div>

<div class="abs-right-container">
  <div class="content">
    <ul class="nav nav-tabs">
      <li class="active"><a href="#" data-target="note-list" data-toggle="tab">{{localize 'notes'}}</a></li>
      <li><a href="#" data-target="note-search" data-toggle="tab">{{localize 'notesearch'}}</a></li>
    </ul>
    <div id="note-list">
      <div class="tab-operations">
        <button id="create-note" class="btn" disabled>{{localize 'createNote'}}</button>
        <div id="note-list-metadata" class="metadata-field-select"></div>
      </div>

      <div class="scrollable-area">
        <ul class="notes"></ul>
      </div>
    </div>
    <div id="note-search" class="scrollable-area" style="display: none;">
      note search
    </div>
    <div id="note-edit" class="scrollable-area" style="display: none;">
      note edit
    </div>
  </div>
</div>

<div id="comment-edit" class="modal hide fade" tabindex="-1"
     role="dialog" aria-labelledby="comment-edit-label" aria-hidden="true">
</div>
