<div class="form-subtitle">
  <h4>{{ localize 'document-note' }}</h4>
  <div class="buttons pull-right">
    <button class="btn btn-small" id="save-document-note" disabled>
      {{#if id}}
        {{localize 'saveDocumentNote'}}
      {{else}}
        {{localize 'saveDocumentNoteAndNote' }}
      {{/if}}
    </button>
    {{#if id}}
      <button class="btn btn-small" id="delete-document-note" disabled>{{ localize 'deleteDocumentNote' }}</button>
    {{/if}}
  </div>
</div>

<div class="clearfix"></div>

<form>
  <div class="control-group">
    <label class="control-label">{{ localize 'fullSelection-label' }}</label>
    <div class="controls">{{ fullSelection }} &nbsp;<button class="btn btn-small" id="update-full-selection" disabled="disabled">{{localize 'update-full-selection'}}</button></div>

  </div>
  <div class="control-group">
    <label class="control-label" for="shortenedSelection">{{ localize 'shortenedSelection-label' }}</label>
    <div class="controls">
      <input type="text" id="shortenedSelection" name="shortenedSelection" value="{{ shortenedSelection }}"></input>
    </div>
  </div>
  <div class="control-group">
    <label class="control-label" for="lemmaPosition">{{ localize 'lemmaPosition-label' }}</label>
    <div class="controls">
      <input type="text" id="lemmaPosition" name="lemmaPosition" value="{{ lemmaPosition }}"></input>
    </div>
  </div>
  <div class="control-group">
    <label class="control-label" for="publishable">{{ localize 'publishable-label' }}</label>
    <div class="controls">
      <input type="checkbox" name="publishable" {{#if publishable }} checked {{/if}}></input>
    </div>
  </div>

</form>