<select multiple>
  <option value="shortenedSelection" disabled selected>{{localize 'shortenedSelection-label'}}</option>
  <option value="description">{{localize 'description-label'}}</option>
  <option value="document">{{localize 'document-label'}}</option>
  <option value="fullSelection" >{{localize 'fullSelection-label'}}</option>
  <option value="types" >{{localize 'type-label'}}</option>
  <option value="editedOn">{{localize 'editedOn-label'}}</option>
  <option value="status">{{localize 'status-label'}}</option>
  <option value="comment">{{localize 'comment-label'}}</option>
</select>