<select multiple>
  <option value="shortenedSelection" disabled selected>{{localize 'shortenedSelection-label'}}</option>
  <option value="fullSelection" selected>{{localize 'fullSelection-label'}}</option>
  <option value="types" selected>{{localize 'types-label'}}</option>
  <option value="description" selected>{{localize 'description-label'}}</option>
  <option value="editedOn" selected>{{localize 'editedOn-label'}}</option>
  <option value="status" selected>{{localize 'status-label'}}</option>
  <option value="document" selected>{{localize 'document-label'}}</option>
  <option value="comment" selected>{{localize 'comment'}}</option>
</select>