<form>
  <div class="search-header-row">
    <input name="query" type="text" placeholder="{{localize 'fullText-label'}}" class="query"></input>
    <span class="muted" style="font-size: 80%">
      {{localize 'fullText-explanation'}}
    </span>
    <button class="btn search" type="submit" name="search">{{localize 'search'}}</button>
  </div>

  <div class="accordion" id="searchAccordion">
    <div class="accordion-group">
      <div class="accordion-heading">
        <a class="accordion-toggle" data-toggle="collapse" data-parent="#searchAccordion" href="#documentSearch">
          {{localize 'document-label'}}
        </a>
      </div>
      <div id="documentSearch" class="accordion-body collapse">
        <div class="accordion-inner">
          <div class="directory-tree"></div>
        </div>
      </div>
    </div>

    <div class="accordion-group">
      <div class="accordion-heading">
        <a class="accordion-toggle" data-toggle="collapse" data-parent="#searchAccordion" href="#advancedSearch">
         {{localize 'advancedSearch-label'}}
        </a>
      </div>
      <div id="advancedSearch" class="accordion-body collapse">
        <div class="accordion-inner">
          <form>
            <div class="control-group">
              <label for="creators" class="control-label">{{localize 'creator-label'}}</label>
              <div class="controls">
                <select name="creators" class="creators"></select></p>
              </div>
            </div>

            <div class="control-group">
              <label for="filters" class="control-label">{{localize 'filter-label'}}</label>
              <div class="controls">
                <select multiple="multiple" name="filters" id="filter-select" class="multiselect">
                  <option value="LEMMA">{{localize 'LEMMA'}}</option>
                  <option value="DESCRIPTION">{{localize 'DESCRIPTION'}}</option>
                  <option value="KEYWORDS">{{localize 'KEYWORDS'}}</option>
                  <option value="SOURCES">{{localize 'SOURCES'}}</option>
                </select>
              </div>
            </div>

            <div class="control-group">
              <label for="type" class="control-label">{{localize 'type-label'}}</label>
              <div class="controls">
                <select multiple="multiple" name="types" id="type-select" class="multiselect">
                  <option value="WORD_EXPLANATION">{{localize 'WORD_EXPLANATION'}}</option> 
                  <option value="LITERARY">{{localize 'LITERARY'}}</option> 
                  <option value="HISTORICAL">{{localize 'HISTORICAL'}}</option> 
                  <option value="DICTUM">{{localize 'DICTUM'}}</option> 
                  <option value="CRITIQUE">{{localize 'CRITIQUE'}}</option> 
                  <option value="TITLE">{{localize 'TITLE'}}</option> 
                  <option value="TRANSLATION">{{localize 'TRANSLATION'}}</option> 
                  <option value="REFERENCE">{{localize 'REFERENCE'}}</option> 
                </select>
              </div>
            </div>

            <div class="control-group"><label for="language" class="control-label">{{localize 'basicFormLanguage-label'}}</label>
              <div class="controls">
                <select name="language" id="language-select" class="multiselect" multiple="multiple">
                  <option value="FINNISH">{{localize 'FINNISH'}}</option>
                  <option value="SWEDISH">{{localize 'SWEDISH'}}</option>
                  <option value="FRENCH">{{localize 'FRENCH'}}</option>
                  <option value="LATIN">{{localize 'LATIN'}}</option>
                  <option value="GERMAN">{{localize 'GERMAN'}}</option>
                  <option value="RUSSIAN">{{localize 'RUSSIAN'}}</option>
                  <option value="ENGLISH">{{localize 'ENGLISH'}}</option>
                  <option value="ITALIAN">{{localize 'ITALIAN'}}</option>
                  <option value="GREEK">{{localize 'GREEK'}}</option>
                  <option value="OTHER">{{localize 'OTHER'}}</option>
                </select>
              </div>
            </div>
            
            <div class="control-group"><label for="status" class="control-label">{{localize 'status-label'}}</label>
              <div class="controls">
                <select name="status" id="status-select" multiple="multiple" class="multiselect">
                  <option value="INITIAL">{{localize 'INITIAL'}}</option>
                  <option value="DRAFT">{{localize 'DRAFT'}}</option>
                  <option value="FINISHED">{{localize 'FINISHED'}}</option>
                </select>
              </div>
            </div>        

            <div class="control-group">
              <label for="createdOn" class="control-label">{{localize 'createdOn-label'}}</label>
              <div class="controls">
                <span class="control-detail">{{localize 'from'}}</span> <input type="text" class="date input-small" name="createdAfter"/> 
                <span class="control-detail">{{localize 'to'}}</span> <input type="text" class="date input-small" name="createdBefore"/>
              </div>
            </div>

            <div class="control-group"><label for="editedOn" class="control-label">{{localize 'editedOn-label'}}</label>
              <div class="controls">
                <span class="control-detail">
                  {{localize 'from'}}  
                </span>
                <input type="text" class="date input-small" name="editedAfter"/>
                <span class="control-detail">
                  {{localize 'to'}}
                </span>
                <input type="text" class="date input-small" name="editedBefore"/>
              </div>
            </div>
            
          <button class="btn search" type="submit" name="search">{{localize 'search'}}</button>
          
          </form>
        </div>
      </div>
    </div>
  </div>
</form>

<div id="search-results-metadata" class="metadata-field-select"></div>

<div class="actions">
  <button class="btn grid-action annotate" disabled>{{ localize 'annotate-label'}}</button>
  <button class="btn grid-action select" disabled>{{ localize 'go-to-document-label' }}</button>
  <button class="btn grid-action comment" disabled>{{ localize 'edit-comment' }}</button>
  <button class="btn grid-action edit-note" disabled>{{ localize 'edit-note' }}</button>
</div>
<div class="documentNotePager"></div>
<div class="documentNoteGrid"></div>
<div class="documentNotePager"></div>

