<span class="shortenedSelection">
  <a href="#" id="select-note" data-id="{{ id }}">{{ shortenedSelection }}</a></span>
</span>

<span class="description">{{{ note.description }}}</span>

<div class="clearfix"></div>

<div class="metadata">
  <span class="fullSelection">{{ fullSelection }}</span>
  <span class="types">{{#each note.types }} {{ localize this }} {{/each}}</span>
  <span class="basicForm">{{ note.term.basicForm }}</span>
  <span class="editedOn">{{ dateFormat note.editedOn }} ({{ note.lastEditedBy.username }})</span>
  <span class="status">{{ localize note.status }}</span>
  <span class="document">{{ document.title }}</span>

  <span class="highlight comment">{{{ note.comment.message }}}</span>

  <div class="note-buttons">
    <button id="edit-note">{{ localize 'edit' }}</button>
    <button id="comment-note">{{ localize 'edit-comment' }}</button>
  </div>
</div>

