<h4>{{ localize 'noteEdit' }}</h4>
<form>

  <div class="control-group">
    <label for="description" class="control-label">{{ localize 'description-label' }}</label>
    <div class="controls">
      <textarea class="wysiwyg" name="description" rows="8" cols="50">{{ description }}</textarea>
    </div>
  </div>

  <hr></hr>

  <div class="control-group">
    <label class="control-label">{{localize 'number-of-document-notes'}}</label>
    <div class="controls">{{ documentNoteCount }}</div>
  </div>

  {{#if editedOn}}
    <div class="control-group">
      <label class="control-label">{{localize 'last-edited'}}</label>
      <div class="controls">{{ dateFormat editedOn }} ({{ lastEditedBy.username }})</div>
    </div>
    <div class="control-group">
      <label class="control-label">{{localize 'all-editors'}}</label>
      <div class="controls">{{ allEditors }}</div>
    </div>
  {{/if}}

  <div class="control-group">
    <label for="type" class="control-label">
      {{localize 'type-label'}}
    </label>
    <div class="controls">
      <select id="type-select" name="types" multiple="multiple">
        <option value="WORD_EXPLANATION" {{#when-contains types 'WORD_EXPLANATION'}}selected{{/when-contains}}>{{localize 'WORD_EXPLANATION'}}</option>
        <option value="LITERARY" {{#when-contains types 'LITERARY'}}selected{{/when-contains}}>{{localize 'LITERARY'}}</option>
        <option value="HISTORICAL" {{#when-contains types 'HISTORICAL'}}selected{{/when-contains}}>{{localize 'HISTORICAL'}}</option>
        <option value="DICTUM" {{#when-contains types 'DICTUM'}}selected{{/when-contains}}>{{localize 'DICTUM'}}</option>
        <option value="CRITIQUE" {{#when-contains types 'CRITIQUE'}}selected{{/when-contains}}>{{localize 'CRITIQUE'}}</option>
        <option value="TITLE" {{#when-contains types 'TITLE'}}selected{{/when-contains}}>{{localize 'TITLE'}}</option>
        <option value="TRANSLATION" {{#when-contains types 'TRANSLATION'}}selected{{/when-contains}}>{{localize 'TRANSLATION'}}</option>
        <option value="REFERENCE" {{#when-contains types 'REFERENCE'}}selected{{/when-contains}}>{{localize 'REFERENCE'}}</option>
      </select>
    </div>
  </div>
  <div class="control-group">
    <label for="term.basicForm" class="control-label">{{localize 'basicForm-label'}}</label>
    <div class="controls">
      <input type="text" name="term.basicForm" value="{{ term.basicForm }}"></input>
    </div>
  </div>
  <div class="control-group">
    <label for="term.language" class="control-label">{{localize 'basicFormLanguage-label'}}</label>
    <div class="controls">
      <select name="term.language">
        <option></option>
        <option value="FINNISH" {{#when-eq term.language 'FINNISH'}} selected {{/when-eq}}>{{ localize 'FINNISH' }}</option>
        <option value="SWEDISH" {{#when-eq term.language 'SWEDISH'}} selected {{/when-eq}}>{{ localize 'SWEDISH' }}</option>
        <option value="FRENCH" {{#when-eq term.language 'FRENCH'}} selected {{/when-eq}}>{{ localize 'FRENCH' }}</option>
        <option value="LATIN" {{#when-eq term.language 'LATIN'}} selected {{/when-eq}}>{{ localize 'LATIN' }}</option>
        <option value="GERMAN" {{#when-eq term.language 'GERMAN'}} selected {{/when-eq}}>{{ localize 'GERMAN' }}</option>
        <option value="RUSSIAN" {{#when-eq term.language 'RUSSIAN'}} selected {{/when-eq}}>{{ localize 'RUSSIAN' }}</option>
        <option value="ENGLISH" {{#when-eq term.language 'ENGLISH'}} selected {{/when-eq}}>{{ localize 'ENGLISH' }}</option>
        <option value="ITALIAN" {{#when-eq term.language 'ITALIAN'}} selected {{/when-eq}}>{{ localize 'ITALIAN' }}</option>
        <option value="GREEK" {{#when-eq term.language 'GREEK'}} selected {{/when-eq}}>{{ localize 'GREEK' }}</option>
        <option value="OTHER" {{#when-eq term.language 'OTHER'}} selected {{/when-eq}}>{{ localize 'OTHER' }}</option>
      </select>
    </div>
  </div>
  <div class="control-group">
    <label for="status" class="control-label">{{ localize 'status-label' }}</label>
    <div class="control-group">
      <select name="status">
        <option value="INITIAL" {{#when-eq status 'INITIAL'}} selected {{/when-eq}}>{{ localize 'INITIAL' }}</option>
        <option value="DRAFT" {{#when-eq status 'DRAFT'}} selected {{/when-eq}}>{{ localize 'DRAFT' }}</option>
        <option value="FINISHED" {{#when-eq status 'FINISHED'}} selected {{/when-eq}}>{{ localize 'FINISHED' }}</option>
      </select>
    </div>
  </div>

  <div class="control-group">
    <label for="sources" class="control-label">{{ localize 'sources-label' }}</label>
    <div class="controls">
      <textarea class="wysiwyg" name="sources" rows="8" cols="50">{{ sources }}</textarea>
    </div>
  </div>

  <hr></hr>

  <div class="control-group">
    <div>
      <button id="save-note" disabled>{{ localize 'save' }}</button>
      <button id="delete-note" {{#if id}} {{#if documentNoteCount}} disabled {{/if}} {{/if}}>{{ localize 'delete' }}</button>
    </div>
  </div>
</form>
