<h4>Viitteen muokkaus:</h4>
<div>Muokkaajat:
  {{ editedOn }}
  {{ lastEditedBy.username }}
  {{#each allEditors }} ({{ this.username }}) {{/each}}
</div>
<div>Tyypit:
  Sananselitys <input value="WORD_EXPLANATION" name="types" type="checkbox" {{#when-contains types 'WORD_EXPLANATION'}} }} checked {{/when-contains}}></input>
  Kirjallinen <input value="LITERARY" name="types" type="checkbox" {{#when-contains types 'LITERARY'}} }} checked {{/when-contains}}></input>
  Historiallinen <input value="HISTORICAL" name="types" type="checkbox" {{#when-contains types 'HISTORICAL'}} }} checked {{/when-contains}}></input>
  Sananparsi <input value="DICTUM" name="types" type="checkbox" {{#when-contains types 'DICTUM'}} }} checked {{/when-contains}}></input>
  Tekstikriittinen <input value="CRITIQUE" name="types" type="checkbox" {{#when-contains types 'CRITIQUE'}} }} checked {{/when-contains}}></input>
  Otsikko <input value="TITLE" name="types" type="checkbox" {{#when-contains types 'TITLE'}} }} checked {{/when-contains}}></input>
  Käännös <input value="TRANSLATION" name="types" type="checkbox" {{#when-contains types 'TRANSLATION'}} }} checked {{/when-contains}}></input>
  Viite <input value="REFERENCE" name="types" type="checkbox" {{#when-contains types 'REFERENCE'}} }} checked {{/when-contains}}></input>
</div>
<div>Perusmuoto: <input type="text" name="term.basicForm" value="{{ term.basicForm }}"></input></div>
<div>Perusmuodon kieli:
  <select name="term.language">
    <option value="FINNISH" {{#when-eq term.language 'FINNISH'}} selected {{/when-eq}}>suomi</option>
    <option value="SWEDISH" {{#when-eq term.language 'SWEDISH'}} selected {{/when-eq}}>ruotsi</option>
    <option value="FRENCH" {{#when-eq term.language 'FRENCH'}} selected {{/when-eq}}>ranska</option>
    <option value="LATIN" {{#when-eq term.language 'LATIN'}} selected {{/when-eq}}>latina</option>
    <option value="GERMAN" {{#when-eq term.language 'GERMAN'}} selected {{/when-eq}}>saksa</option>
    <option value="RUSSIAN" {{#when-eq term.language 'RUSSIAN'}} selected {{/when-eq}}>venäjä</option>
    <option value="ENGLISH" {{#when-eq term.language 'ENGLISH'}} selected {{/when-eq}}>englanti</option>
    <option value="ITALIAN" {{#when-eq term.language 'ITALIAN'}} selected {{/when-eq}}>italia</option>
    <option value="GREEK" {{#when-eq term.language 'GREEK'}} selected {{/when-eq}}>kreikka</option>
    <option value="OTHER" {{#when-eq term.language 'OTHER'}} selected {{/when-eq}}>muu</option>
  </select>
</div>
<div>Kuvaus: <input name="term.description" type="textarea" value="{{ term.description }}"></input></div>
<div>Lähteet: <input name="sources" type="textarea" value="{{ sources }}"></input></div>
<div>Tila:
  <select name="status">
    <option value="INITIAL" {{#when-eq status 'INITIAL'}} selected {{/when-eq}}>alustava</input>
    <option value="DRAFT" {{#when-eq status 'DRAFT'}} selected {{/when-eq}}>luonnos</input>
    <option value="FINISHED" {{#when-eq status 'FINISHED'}} selected {{/when-eq}}>valmis</input>
  </select>
</div>
<div><button id="save-note">Tallenna</button></div>
