<span class="shortenedSelection">
  <a href="#">{{ shortenedSelection }}</a></span>
</span>

<div class="metadata">
  <span class="fullSelection">{{ fullSelection }}</span>
  <span class="types">{{#each note.types }} {{ localize this }} {{/each}}</span>
  <span class="editedOn">{{ dateFormat note.editedOn }} ({{ note.lastEditedBy.username }})</span>
  <span class="status">{{ note.status }}</span>
  <span class="document">{{ document.title }}</span>
  <span class="highlight description">{{{ note.term.meaning }}}</span>
  <span class="highlight comment">{{{ note.comment.message }}}</span>

  <div id="buttons">
    <button id="edit-note">{{ localize 'edit' }}</button>
    <button id="comment-note">{{ localize 'edit-comment' }}</button>
  </div>
</div>

