div.t-beaneditor{
	border: none;
	background: none;
}

div.t-beaneditor-row{
	font-family : arial,helvetica,clean,sans-serif;
	clear: both;		
}	

div.t-beaneditor-row label{
	text-align: left;
	width: 8em;
}

div.t-beaneditor-row textarea{
	font-size: 0.9em;	
	display: block;
}

div.t-beaneditor-row textarea {
	font-family : arial,helvetica,clean,sans-serif;
}