<div class="navbar">
  <ul class="nav">
    <li><a class="edith-nav-link" id="workspace" href="workspace.html">{{localize 'documents'}}</a></li>
    <!--<li><a class="edith-nav-link" id="note-search" href="note-search.html">{{localize 'notesearch'}}</a></li>
    <li><a class="edith-nav-link" id="note-import" href="note-import.html">{{localize 'noteimport'}}</a></li>-->
    <li><a class="edith-nav-link" id="help" href="help.html">{{localize 'help'}}</a></li>
    <li><a class="edith-nav-link" id="logout" href="logout">{{localize 'logout'}}</a></li>
  </ul>
</div>
