body {
	font-family: georgia, serif;
	background-color: #fff;
	font-size: 100%;
	line-height: 1.125em;
}

/**
* Overriding basic JQuery setting
*/
.ui-widget {
    font-family: georgia, serif;	
}

ul,ol,li,h1,h2,h3,h4,h5,p {
	margin: 0;
	padding: 0
}

td,th {
	vertical-align: top;
}

li {
	margin-left: 2em;
}

/*a {padding: 0 0.2em 0 0.2em;}*/
a img {
	border: 0;
}

a:link {
	text-decoration: none;
	color: #00f;
}

a:visited {
	text-decoration: none;
	color: #639;
}

a:hover {
	text-decoration: underline;
}

a:active {
	text-decoration: underline;
}

h1,h2,h3,h4,h5,p {
	margin-bottom: 0.5em;
}

p {
	margin: 0.5em 0 0.5 0;
}

.panel h3 {
	border-bottom: dotted 1px;
	font-size: 100%;
}

.panel li {
	margin-left: 0;
	padding-left: 0;
	list-style: none;
}

.left {
	float: left;	
}

.right {
	float: right;
}

fieldset {
    border: 1px solid  #AAA;
    border-left: none;
    border-right: none;
    margin-bottom: 2em;
}
