.content {
	padding-left: 0.5em;
	padding-right: 0.5em;

}

#left > .content { padding-left: 2em }


/**
* Font sizes
*/

#main1 > div { font-size: 0.75em; }

.ui-widget { font-size: 100% }
.ui-accordion .ui-accordion-header a,
.ui-accordion-content {
	font-size: 100%;
}

.ui-accordion-content, .ui-widget-content {
    background: url('../images/note_bg.png') repeat-x #dddddd;
}

.ui-accordion .ui-accordion-header a { font-family: verdana, serif }

.ui-state-default, .ui-state-hover { background: white }

#header .content {
    font-size: /*0.75em;*/ 100%;
    font-family: verdana, serif;
}

ul.dynatree-container {
    border: none;
    font-family: verdana, serif;
    font-size: 100%;
}

/**
* Header
*/

#header { border-bottom: solid 2px rgb(240,240,240); background-color: white; position: relative; }

#title-bar {
	background-image: url('../images/application_title_bg.png');
    background-repeat: repeat-x;
    color: white;
    padding: 22px;
    padding-top: 13px
}


#app-name { text-transform: uppercase; font-size: 1em }

#top .content,#header .content {
	padding-left: 2em;
}

#header .content {
	font-size: 0.75em;
	font-family: verdana, serif;
}

#header a:link, #header a:visited,
#header a:hover, #header a:active {
    text-decoration: underline;
    color: #000;
}

#header a.disabled:link, #header a.disabled:visited,
#header a.disabled:hover, #header a.disabled:active  {
    text-decoration: none;
    color: #919191;
}


#auth { float: right; font-size: 0.75em; }
#auth a:link, #auth a:visited,
#auth a:hover, #auth a:active { color: white; }



#auth .actions li {
    border-left: 1px solid white;
}

#auth .actions li:first-child {
    border-left: 0;
    padding-left: 0;
}



#top .content {
	font-weight: bold;
}

#center h3 {
    margin-top: 1em;
}


/**
* Document content
*/

#documentZone { padding: 1em; }


#bottom .content {
	font-size: 0.75em;
	border-top: solid 1px #D0D0D0;
	padding: 0.4em;
	margin: 0.4em;
	clear: both;
}

#main form {
	margin: 0 auto;
	padding-bottom: 5px;
}


#homeLink,#top .title {
	float: left;
}

.dashboard li {
	list-style-type: none;
	display: inline;
	font-weight: bold;
	padding: 4px;
}

.dashboard li a {
	font-weight: normal;
}

#top .title {
	padding-top: 0.2em;
	padding-left: 3em;
}

.searchbox {
	width: 5em;
}

a {
	text-decoration: none;
}

.label {
	width: 5em;
}

label.left {
	display: block;
	width: 160px;
	float: left;
}

#header a {
	text-decoration: underline;
}

/*.actions {
	margin-top: 1em;
}*/
.actions li {
	display: inline;
	border-left: 1px solid #444;
	padding: 0 0.4em;
	margin: 0;
}

.actions li:first-child {
	border-left: 0;
	padding-left: 0;
}

.profile,.archive,.latest {
	width: 15em;
}

.articleform div.t-beaneditor-row label {
	display: none;
}

#bottom li {
	font-weight: bold;
}

#bottom li a {
	font-weight: normal;
}

/* Note search */

div.notes { /*margin-top: 1em; */ }
.notes .t-data-grid { font-family: georgia, serif; width: 100%; }
.notes div.t-data-grid-pager a,
.notes div.t-data-grid-pager span.current { font-size: 100%; background-color: white; border: none; margin-right: 1em; padding: 0 }
.notes div.t-data-grid-pager span.current { color: black; text-decoration: underline; }
.notes div.t-data-grid-pager { padding-left: 2px }
.notes .t-data-grid a.link,
.notes .t-data-grid a.visited,
.notes .t-data-grid a.active,
.notes .t-data-grid a.hover { border:none; }
.notes table.t-data-grid thead tr { display: none; }
.notes table.t-data-grid, .notes table.t-data-grid tbody tr td { border: none; }


/*
table.t-data-grid {
	font-size: 80%;
}

table.searchresults  th {
	text-align: left;
	border-bottom: 2px solid black;
}

table.searchresults td+td {
	border-left: 1px solid #cccccc;
}

table.searchresults td {
	border-bottom: 1px solid #999999;
	padding: 0.2em;
}

*/

.msg {
	font-weight: bold;
}

/**
* Disabled link
*/
a.disabled:link,a.disabled:visited,a.disabled:hover,a.disabled:active {
	color: #919191;
}

/*
* Note edit box
*/
div.note_edit {
	margin-top: 1em;
}

/*
* Content edited
*/
.note_edit form {
	clear: both;
}

.note_edit .edited {
	color: #aa00cc;
}

.delete { /*float: right;*/
	font-size: 80%;
}

.disable_link {
	text-decoration: none !important;
}

.metadata {
	float:right;
	/*font-size: 0.8em;*/
}

#longTextEditLink {
	/*font-size: 80%;*/
}

.Initial:before {
	content: "* ";
}

#listZone {
	/*overflow: auto;
	height: 15em;*/
}

.note_edit th {
	text-align: left;
}

.error {
	font-weight: bold;
	color: red;
}

#submit_success_info {
	color: green;
	float: right;
}

#create_success_info {
	color: green;
	float: right;
}

.top_links, .top_links span, #document_links, #document_links span {
	margin: 5px;
}

#note_filters {
	border-bottom: solid 1px #D0D0D0;
}

ul.notes li span, ul.notes li .notelink {
    margin-right: 5px;
}

a.NORMAL {
    color: blue;
}

a.ORPHAN {
    color: grey;
}

a.SEMI_ORPHAN {
    color: black;
}

a.ELSEWHERE {
    color: red;
}

.jqmWindow {
    display: none;
    position: fixed;
    top: 5%;
    left: 50%;
    bottom: 5%;
    overflow: auto;

    margin-left: -300px;
    width: 600px;

    background: url(../images/application_title_bg.png) repeat-x #FFF;
    color: #333;
    border: 1px solid black;
    padding: 12px;
}

div.jqmWindow > div > h2 {
	color: #FFF;
	text-weight: normal;
	font-size: 14px;
	margin-bottom: 20px;
	margin-top: 4px;
}

div.jqmWindow fieldset {
	border-bottom: none;
	margin-bottom: 0;
}

div.jqmWindow fieldset legend{
	font-weight: bold;
}
div.jqmWindow div.scrollable {
	position: absolute;
	overflow: auto;
	top: 60px;
	bottom: 50px;
	left: 12px;
	right: 12px;
}

div.jqmWindow h3 {
    font-size: 1em;
    margin: 4px 0;
}

div.jqmWindow input {
	width: 300px;
}

div.jqmWindow button.save {
	position: absolute;
	bottom: 12px;
	left: 12px;
}

button.jqmClose {
    position: absolute;
    top: 12px;
    right: 12px;
}

.jqmOverlay {
	background-color: #000;
}

#conceptsList a {
	margin-left: 0.2em;
}

/**
* Document note selection in listings
*/

.selected-note {
    border: 1px black dotted;
}

.selected-note a {
    color: black;
}

/**
* Dynatree
*/
ul.dynatree-container {
    border: none;

}


/**
* Note edit fields
*/
.field {
    margin-bottom: 1em;
}
.field > label {
	font-weight: bold;
	display: block;
	margin-bottom: 3px;
}

/**
* Infomessage
*/

#info-message {
    position: fixed;
    top: 0px;
    lef: 0px;
    width: 100%;
    height: 3em;
}

#info-message .info {
	background-color: green;
	color: white;
}

#info-message .error {
    background-color: red;
    color: white;
}

#info-message {
    text-align: center;
}

/**
* Comments
*/
.comment {
  margin-bottom: 1em;
}

.comment-metadata {
    float:right;
    padding-left: 1em;
    height: 3em;
}
.comment-msg {

}

/**
* Form fields
*/

.field input[type="text"] { width: 95% }

/*
.wysiwyg {
    height: 3em;

}

.note_edit input[type="text"], .note_edit textarea,
textarea.wysiwyg {
    width: 95%;
}

#commentsAccordion textarea {
    width: 30em;
}
*/

/**
* Document path
*/

#document-path {
    text-align: center;
    width: 100%;
    /*font-size: 0.875em;*/
    font-weight: bold;
}
