
html, body, form { 
	margin: 0; 
	padding: 0; 
}

/* Hiding the regular scroll bars */
body {
    overflow: hidden;
    max-height: 100%;
}

/**
* 3-column basic layout using div's
*/

#main1 {
 margin:0; padding:0;
}
#main2 {
 margin:0; padding:0;
}

#header {
    height: 2em;
}

#main1 {
    position: absolute;
    top: 3.5em;
    left: 0em;
    right: 0em;
    bottom: 2em;
}


#left {
    position: absolute;
    top: 0em;
    left: 0em;
    bottom: 0em;
    width: 60%;
    overflow: auto;
}

#right {
    position: absolute;
    top: 0em;
    right: 0em; 
    bottom: 0em;
    width: 40%;  
    overflow: auto;
}


#center {
    position: absolute;
    top: 0em;
    left: 10em;
    right: 25em;
    bottom: 0em;
    overflow: auto;
}

#bottom {
    position: fixed;
    height: 2em;
    width: 100%;
    bottom: 0px;
}

.cleaner {
    clear:both;
    height:1px;
    font-size:1px;
    border:none;
    margin:0; padding:0;
    background:transparent;
} 