.tei .head{
	font-weight: bold;
	font-size: 1.2em;
	padding: 1em 0em;
}

.speaker{
	/*font-weight: bold;*/
	color: #4040D0;
	font-style: italic;
}

.stage {
	font-style: italic;
}

.orig{
	font-style: italic;
	color: #D0D0D0;
}

.sp{
	padding: 0.25em 0;
}

.sp .speaker {
	padding-right: 0.25em;	
}	

.sp p {
	display: inline;	
}	

.listBibl{
	border: dotted 1px gray;
}

.titleStmt .title{
	/*font-weight: bold;*/
	font-size: 1.5em;
	text-align: center;
	padding: 0.5em;	
}

.titleStmt .author{
	font-weight: bold;
	font-size: 1.2em;
	text-align: center;
	padding: 1em 0em;
}	

.teiHeader{
	/*border: solid 1px #E0E0E0;*/	
	/*padding: 1em 0em;*/
}

.respStmt .resp{
	width: 10em;
	float: left;
	font-weight: bold;
}

.respStmt .name {
	float: left;	
}

.respStmt{
	clear: both;
}

.publicationStmt{
	clear: both;
}

.editionStmt .edition {
	font-weight: bold;
	font-size: 1.2em;
	padding-bottom: 0.5em;		
}

.page {
    text-align: center;
    font-weight: bold;
    /*display: inline;*/	
    padding: 0.5em;
	border-top: dotted 1px gray;
}

.pages li{
	display: block;
	float: left;
	padding: 0.3em;	
}	

.l{
	padding-left: 2.5em;	
}	

/*
.fileDesc{
	border: solid 1px gray;
}
*/

.notecontent{
	color: #40D040;
}