.tei div.body {
	max-width: 600px;
}
.tei .head{
	font-weight: bold;
	font-size: 1.2em;
	padding: 1em 0em;
}

.tei .speaker{
	/*font-weight: bold;*/
	color: #4040D0;
	font-style: italic;
}

.tei .stage {
	font-style: italic;
}

.tei .orig, .tei .sic {
	font-style: italic;
	color: #D0D0D0;
}

.tei .sp{
	padding: 0.25em 0;
}

.tei .sp .speaker {
	padding-right: 0.25em;	
}	

.tei .p {
    display: block;
    margin-top: 1em;
}

.tei .listBibl{
	border: dotted 1px gray;
}

.tei .titleStmt .title{
	/*font-weight: bold;*/
	font-size: 1.5em;
	text-align: center;
	padding: 0.5em;	
}

.tei .titleStmt .author{
	font-weight: bold;
	font-size: 1.2em;
	text-align: center;
	padding: 1em 0em;
}	

.tei .respStmt .resp{
	width: 10em;
	float: left;
	font-weight: bold;
}

.tei .respStmt .name {
	float: left;	
}

.tei .respStmt{
	clear: both;
}

.tei .publicationStmt{
	clear: both;
}

.tei .editionStmt .edition {
	font-weight: bold;
	font-size: 1.2em;
	padding-bottom: 0.5em;		
}

.tei .page {
    text-align: center;
    font-weight: bold;
    /*display: inline;*/	
    padding: 0.5em;
	border-top: dotted 1px gray;
}

.tei .p .page {
	display: inline;
	padding: 0px !important;
	border-top: none !important;
}
.tei .p .page:before {
	content: "|";
}
.tei .p .page:after {
	content: "|";
}

.tei .pages li{
	display: block;
	float: left;
	padding: 0.3em;	
}

.tei .notes li{
	display: block;
}	

.tei .l{
	padding-left: 2.5em;	
}	

.tei .actor, 
.tei .camera, 
.tei .caption, 
.tei .date, 
.tei .desc, 
.tei .docAuthor, 
.tei .gap, 
.tei .orig,
.tei .sic,
.tei .corr,
.tei .ref, 
.tei .role, 
.tei .roleDesc, 
.tei .set, 
.tei .sound, 
.tei .speaker, 
.tei .tech, 
.tei .view, 
.tei .persName, 
.tei .note, 
.tei .hi, 
.tei .xref, 
.tei .placeName,
.tei .orgName,
.tei .p .title,
.tei .unclear,
.tei .del,
.tei .add,
.tei .supplied,
.tei .subst,
.tei .reg,
.tei .choice,
.tei .figure,
.tei .sp,
.tei .emph,
.tei .foreign,
.tei .rs,
.tei .cell
{
	display: inline;	
}	

.tei .notecontent{
	color: #990202;
	cursor: pointer;
}

.tei .notecontent:hover{
	border-bottom: solid 2px;
}

.tei .hi, .tei .emph {
	font-style: italic;
}

.tei .unclear {
	color: #494949;
	font-style: italic;
}

.tei .del {
	text-decoration: line-through;
}

.tei .gap:before {
	color: #494949;
	content: "[oläsligt]";
}

.tei .cell {
	margin-right: 15px;
}

.tei .list .item {
	display: block;
}


/* I insterted these if they are going to be used in the future */
/*.placeName {
    background-color: #B5D58C;
}

.persName {
	background-color: #E5BB71;
}

.foreign {
    background-color: #A0CBD4;
}

.body .title {
    background-color: #F6E65B;
}*/



