
/* Hiding right panel and center fills the whole page */
#right {
    visibility: hidden;
    width: 0%
}

#left {
    width: 100%;	
}

#center {
    right: 0em;
}

#editcontrols {
    float: right;
}

#formcontrols {
    float:right;
}

#formcontrols a {
    margin-right: 1em;
}

.editable {
   /*border: dotted 1px red;*/
   min-width: 10em;
   min-height: 1em;
}

.edited {
    background-color: lime;	
}